/* overall styling */
body {
   font-family: 'Averia Libre', cursive;
}

.container {
   display: flex;
}

ul {
   list-style-type: none;
}

li{
   display: inline;
}

/* nav bar styling */
nav {
   margin: 3% 7% 2%;
   border: 2px solid black;
   padding: 1% 1%;
   background-color: #FFB4B0;
}

/* side bar styling*/
#sidebar {
   margin: 0 2% 0 7%;
   border: 2px solid black;
   padding: 1% 1%;
   width: 20%;
   background-color: #4DD7FA;
}

/* playlist styling */
#playlist {
   margin: 0 7% 0 0;
   border: 2px solid black;
   padding: 1% 1%;
   width: 62%;
   background-color: #FEFAC0;
}

/* add track styling */
.add-track {
   margin: 0 7% 0 7%;
   border: 2px solid black;
   padding: 1% 1%;
   /*width: 66%%;*/
   background-color: #4DD7AA;
}

.add-track input {
   margin-top: 2%;
}
