<div class="container">

<!-- _____sidebar_____ -->
  <div id="sidebar">

    <h4>Song Length: </h4>
    <input type="range" />

    <h4>Artist: </h4>
    <select>
      <option ng-repeat="track in allTracks">{{track.artist}}</option>
    </select>

    <h4>Album: </h4>
    <select>
      <option ng-repeat="track in allTracks">{{track.album}}</option>
    </select>

    <h4>Genre: </h4>
    <label>
      <input type="checkbox" />Rock</label>
  </div>

<!-- _____playlist_____ -->
  <div id="playlist">
    <div ng-repeat="track in allTracks">
      <h2>{{track.title}}</h2>
      <ul>
        <li>{{track.artist}}</li> |
        <li>{{track.album}}</li> |
        <li>Rock</li>
      </ul>
    </div>
  </div>
</div>



    <!-- <h2>Irresponsible Tune</h2>
    <ul>
      <li>Dirty Projectors</li>|
      <li>Swing Lo Magellan</li>|
      <li>Rock</li>
    </ul>
    <h2>Atari</h2>
    <ul>
      <li>Hiatus Kaiyote</li>|
      <li>Choose Your Weapon</li>|
      <li>Rock</li>
    </ul>
    <h2>Lonely Lover</h2>
    <ul>
      <li>Xenia Rubinos</li>|
      <li>Black Terry Cat</li>|
      <li>Rock</li>
    </ul> -->
