<div class="container">

<!-- _____sidebar_____ -->
  <div id="sidebar">

    <h4>Song Length: </h4>
    <input type="range" />

    <h4>Artist: </h4>
    <select ng-model="artistFilter" >
      <option selected disabled>-Filter by Artist-</option>
      <option ng-repeat="track in allTracks">{{track.album}}</option>
    </select>

    <h4>Album: </h4>
    <select ng-model="albumFilter">
      <option selected disabled>-Filter by Album-</option>
      <option ng-repeat="track in allTracks">{{track.album}}</option>
    </select>

    <input type="text" ng-model="trackSearch" name="search" />

    <h4>Genre: </h4>
    <label>
      <input type="checkbox" />Rock</label>
  </div>

<!-- _____playlist_____ -->
  <div id="playlist">
    <div ng-repeat="track in allTracks | filter: trackSearch" ng-if="$index < 5">
      <h2>{{track.title}}</h2>
      <ul>
        <li>{{track.artist}}</li> |
        <li>{{track.album}}</li> |
        <li>Rock</li>
      </ul>
    </div>
  </div>
</div>
