<h2>Stage or Screen</h2>
            <ul>
               <li>Unknown Mortal Orchestra</li>
               |
               <li>Multi-Love</li>
               |
               <li>Rock</li>
            </ul>
         <h2>Irresponsible Tune</h2>
            <ul>
               <li>Dirty Projectors</li>
               |
               <li>Swing Lo Magellan</li>
               |
               <li>Rock</li>
            </ul>
         <h2>Atari</h2>
            <ul>
               <li>Hiatus Kaiyote</li>
               |
               <li>Choose Your Weapon</li>
               |
               <li>Rock</li>
            </ul>
         <h2>Lonely Lover</h2>
            <ul>
               <li>Xenia Rubinos</li>
               |
               <li>Black Terry Cat</li>
               |
               <li>Rock</li>
            </ul>
